/* IE General */
.ie .navbar-inner {filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.ie .dropdown-menu > li > a:hover, 
.ie .dropdown-menu > li > a:focus, 
.ie .dropdown-submenu:hover > a, 
.ie .dropdown-submenu:focus > a {background-image: none !important; background-color: #E6E6E6 !important; color: #000000;}

/* IE 8 */
.ie8 #search-form {width: 200px;}
.ie8 #content {padding-top: 15px; position: relative;}
.ie8 #article-sidebar {position: absolute; top: -472px; margin: 0; width: 220px;}
.ie8 #article {margin: 0 0 0 235px;}

/* IE 7 */
.ie7 #search {float: right; width: 390px; margin-top: -40px;}
.ie7 #search-form {width: 220px;}
.ie7 a.advanced-search {width: 150px; display: block; float: left;}

.ie7 ul.nav {z-index: 1200 !important;}
.ie7 ul.nav .dropdown-menu {z-index: 1100 !important;}

.ie7 #content {padding-top: 15px; position: relative;}
.ie7 #article-sidebar {position: absolute; top: -205px; margin: 0; width: 220px;}
.ie7 #article-sidebar i {margin-top: -1.8em;}
.ie7 #article {margin: 0 0 0 235px;}

.ie7 #footer-menu {float: left;}
.ie7 #footer-menu .menu-block {float: left;}
.ie7 #mirrors {float: left;}
.ie7 #site-credits {clear: both;}
.ie7 #site-credits img {width: 355px;}