<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><% title_utf8 %></title>

<meta name="robots" content="noarchive, noodp" />
<% entry_metadata %>

<!-- NOTE: Import webfonts using this link: -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200' rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/sep.js"></script>

<!-- NOTE: Javascript for sticky behavior needed on article and ToC pages -->
<script type="text/javascript" src="../../js/jquery.sticky.js"></script>

</head>

 <!-- NOTE: "nojs" class will need to be added once we have a scripted javascript fallback. Additional body classes should be added for the homepage and article templates: class="nojs homepage" and class="nojs article". The nojs class is removed from the page if javascript is enabled. Otherwise, it drives the display when there is no javascript. -->
<body class="article">

	<div id="container">
		<a name="pagetopright"></a>
		
		<div id="header-wrapper">
			<div id="header">

				<div id="branding">
					<div id="site-logo"><a href="../../index.html"><img src="../../symbols/sep-man-red.png" alt="SEP logo" /></a></div>
					<div id="site-title"><a href="../../index.html">Stanford Encyclopedia of Philosophy</a></div>
				</div>
				
				<div id="navigation">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<div class="btn btn-navbar collapsed" data-target=".nav-collapse" data-toggle="collapse" type="button">
									<i class="icon-reorder"></i> Menu
								</div>
								<div class="nav-collapse collapse">
									<ul class="nav">
										<li class="dropdown"><a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-book"></i> Browse</a>
											<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
												<li><a href="../../contents.html">Table of Contents</a></li>
												<li><a href="../../new.html">What's New</a></li>
												<li><a href="http://plato.stanford.edu/cgi-bin/encyclopedia/random">Random Entry</a></li>
												<li><a href="../../published.html">Chronological</a></li>
												<li><a href="../../archives/">Archives</a></li>
											</ul>
										</li>
										<li class="dropdown"><a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-info-sign"></i> About</a>
											<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
												<li><a href="../../info.html">Editorial Information</a></li>
												<li><a href="../../about.html">About the SEP</a></li>
												<li><a href="../../board.html">Editorial Board</a></li>
												<li><a href="../../cite.html">How to Cite the SEP</a></li>
												<li><a href="../../special-characters.html">Special Characters</a></li>
												<li><a href="../../tools.html">Advanced Tools</a></li>
												<li><a href="#">Contact</a></li>
											</ul>
										</li>
										<li class="dropdown"><a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-leaf"></i> Support SEP</a>
											<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
												<li><a href="../../support/">Support the SEP</a></li>
												<li><a href="../../support/friends.html">PDFs for SEP Friends</a></li>
												<li><a href="../../support/donate.html">Make a Donation</a></li>
												<li><a href="../../support/sepia.html">SEPIA for Libraries</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End navigation -->

				<div id="search">
					<form id="search-form" action="#">
						<input type="search" name="search" placeholder="Search SEP">
						<div class="search-btn-wrapper"><a class="btn search-btn" href="#"><i class="icon-search"></i></a></div>
					</form>
					<a class="advanced-search" href="../../search/">Advanced Search</a>
				</div> <!-- End search -->

			</div> <!-- End header -->
		</div><!-- End header wrapper -->

		<div id="content">

		  <!-- NOTE: Article sidebar navigation is a template that needs individual links for each article. -->
		  <div id="article-sidebar">
		    <div class="sticky">
		      <div class="navbar">
			<div class="navbar-inner">
			  <div class="container"> <!-- MEGAN: Added collapsed class by default to main nav -->
			    <div class="btn btn-navbar collapsed" data-target=".collapse-sidebar" data-toggle="collapse" type="button">
			      <i class="icon-reorder"></i> Entry Navigation
			      </div>
			    <div id="article-nav" class="nav-collapse collapse-sidebar collapse">
			      <ul class="nav">
				<li><a href="#toc">Entry Contents</a></li>
				<li><a href="#Bib">Bibliography</a></li>
				<li><a href="#Aca">Tools and Resources</a></li>
				<li><a href="https://leibniz.stanford.edu/friends/preview/<% entrydir %>/">Friends PDF Preview <i class="icon-external-link"></i></a></li>
				<li><a href="http://plato.stanford.edu/cgi-bin/encyclopedia/archinfo.cgi?entry=<% entrydir %>">Author and Citation Info  <i class="icon-external-link"></i></a> </li>
				<li><a href="#pagetopright" class="back-to-top">Back to Top <i class="icon-angle-up icon2x"></i></a></li>
				</ul>
			      </div>
			    </div>
			  </div>
			</div>
		      </div>
		    </div> <!-- End article sidebar -->

		  <!-- NOTE: Article content must have two wrapper divs: id="article" and id="article-content" -->
		  <div id="article">
		    <div id="article-content">

		      <!-- BEGIN ARTICLE HTML -->

<div id="aueditable"><!--DO NOT MODIFY THIS LINE AND ABOVE-->
